*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, .4);
}
body{
    /* background-color: skyblue; */
    z-index: 0;
    background-color: #eee;
}
/* 清除网页加载时的transition过渡 */
.none-transition{
    transition: none!important;
}
@media screen and (max-width: 1400px){
    body{
        zoom: .92;
    }
}
@media screen and (max-width: 1240px){
    body{
        zoom: .88;
    }
}
@media screen and (max-width: 1025px){
    body{
        zoom: .72;
    }
}
@media screen and (max-width: 900px){
    body{
        zoom: .65;
    }
}